<div class="container">
  <div class="row">

    <app-search
      customPlaceholder="Search planet"
      (onSearchTermReady)="searchPlanets($event)"
    ></app-search>

    <div
      *ngFor="let planet of planets$ | async"
      class="col-3 mb-3"
    >
      <app-card
        [data]="planet"
        [imagesFolderName]="'planets'"
      ></app-card>
    </div>
  </div>

  <div class="row">
    <div class="col justify-content-center">
      <app-pagination
        [previous]="previousPage"
        [next]="nextPage"
        [pagesLength]="pagesLength"
        (onSelectPage)="updatePlantesPage($event)"
      ></app-pagination>
    </div>
  </div>

</div>
