<nav aria-label="Page navigation example">
  <ul class="pagination">

    <li class="page-item" *ngIf="previous">
      <button class="page-link" (click)="updatePage(previous)">
        <span aria-hidden="true">&laquo;</span>
      </button>
    </li>

    <li class="page-item" *ngFor="let page of pagesList" [ngClass]="{'active': currentPage === page}">
      <button class="page-link" (click)="updatePage(page)">{{page}}</button>
    </li>

    <li class="page-item"  *ngIf="next">
      <button class="page-link" (click)="updatePage(next)">
        <span aria-hidden="true">&raquo;</span>
      </button>
    </li>

  </ul>
</nav>
