<div class="container">
  <div class="row">

    <app-search
      customPlaceholder="Search character"
      (onSearchTermReady)="searchCharacters($event)"
    ></app-search>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name <button type="button" class="me-2 btn btn-outline-primary btn-sm rounded-pill" (click)="sortTable('name')">sort</button></th>
          <th scope="col">Birth Year <button type="button" class="me-2 btn btn-outline-primary btn-sm rounded-pill" (click)="sortTable('birth_year')">sort</button></th>
          <th scope="col">Gender</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let character of characters$ | async; let i = index">
          <td>
            <a [routerLink]="['/characters', (itemsPerPage * (currentPage - 1) + i + 1 )]">{{character.name}}</a>
          </td>
          <td>{{character.birth_year}}</td>
          <td>{{character.gender}}</td>
        </tr>
      </tbody>
    </table>

</div>

<div class="row">
  <div class="col justify-content-center">
    <app-pagination
      [previous]="previousPage"
      [next]="nextPage"
      [pagesLength]="pagesLength"
      (onSelectPage)="updateCharactersPage($event)"
    ></app-pagination>
  </div>
</div>
